# Your base domain.
DOMAIN=

# Pi-hole hostnames.
PIHOLE_PRIMARY=
PIHOLE_REPLICA=

# Pi-hole web admin password.
PIHOLE_PASSWORD=

# Discord webhook for sync success/failure notifications.
DISCORD_WEBHOOK_URL=