DOMAIN=
PATCHMON_DB_PASSWORD=
PATCHMON_REDIS_PASSWORD=
PATCHMON_JWT_SECRET=
PATCHMON_AI_ENCRYPTION_KEY=
PATCHMON_OIDC_CLIENT_ID=
PATCHMON_OIDC_CLIENT_SECRET=
PATCHMON_ADMIN_GROUP=
PATCHMON_READONLY_GROUP=